/*https://css3generator.com/ */
/*https://developer.mozilla.org/es/docs/Web/CSS/CSS_animations/Using_CSS_animations*/


div{
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
}

.Principal{
    border: none;
    box-shadow: 3px 3px 3px burlywood;
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;

}
.encabezado{
    border: 1px solid;
    border-radius: 20px;
    height: auto;
    margin-bottom: 1%;
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    
}
.logo{
    width: 55%;
    height: 3cm;
    padding: 0.5%;
}

.menu{
    border: none;
    width: 25%;
    height: 1cm;
    padding: 0.5%;
    background-color: none;
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.redes{
    width: 20%;
    height: 1cm;
    padding: 0.5%;
}

.items{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-position: outside;
    position: relative;
    display: flex;
    justify-content: center;
    
    

}

.elementos{
    position: relative;
    display: block;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: red;
    transition:all 0.5s ease;
    
}
.elementos:hover{
    background-color: aqua;
    color:red;
    border-radius: 50%;
    text-transform: uppercase;
    
    

}